* {
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin-left: 1rem;
    padding: 1rem; 
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(42, 147, 233);
    color: white;
    font-size: bold;
    transition: background-color .2s ease-in;
}

button:hover {
    background-color: rgba(42, 147, 233, 0.788);
}